:root {
    --primary-color: #FFFFFF;
    --secondary-color: #192BC2;
    --accent1-color: #0D0A0B;
    --accent2-color: #44BBA4;
}
h1 {
    background-color: #0000ff;
    color: var(--primary-color);
    position: absolute;
    padding: 25px;
    margin: 25px;
    top: 200px;
    margin-left: 550px;
    opacity: 0.7;
}
h2 {
    background-color: var(--primary-color);
    color: blue;
    text-align: center;
}
p {
    background-color: var(--primary-color);
    color: blue;
}
.a {
    text-decoration: none;
    margin-top: 100px;
}
.hero {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
.fright {
    float: right;
}
article {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: 10px;
    padding-left: 20px;
    position: absolute;
    bottom: 200px;
    right: 250px;
    font-size: 25px;
    opacity: 0.7;
}
.div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.fimage {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.para {
    background-color: var(--secondary-color);
    color: white;
    padding-right: 400px;
    font-weight: bold;
}
.para2 {
    background-color: var(--secondary-color);
    color: white;
    padding-right: 300px;
    font-weight: bold;
}
header {
	    margin-right: 100px;
	    display: grid;
	    grid-template-columns: 550px 1fr 1fr;
	    max-width: 5000px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
a {
    color: #0000ff;
 }
.section1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}
.flex {
    flex: 1 1;
    box-sizing: border-box;
    padding: 60px;
    background-color: #ffffff;
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1px;
    padding: 0px;
    margin: 0 auto;
}
figcaption {
      display:block;
      width: 100%;
      text-align:center;
}
.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
.photos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
  }
.image {
    display: block;
    width: 100%;
  }
.image1 {
    display: block;
    width: 100%;
    margin-left: 7px;
}
.image2 {
    display: block;
    width: 100%;
    margin-left: 13px;
}
.image3 {
    display: block;
    width: 100%;
    margin-left: 20px;
}
.image4 {
    display: block;
    width: 100%;
    margin-left: 25px
}
.word{
    display: block;
    width: 100%;
    text-align: center;
}
.word2{
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 21px;
}
.socialmedia {
    justify-content: right;
    margin-top: 15px
}
.footer1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin-left: 300px;
    margin-top: 100px;
}
.flex2 {
    padding: 0px;
    background-color: #ffffff;
    text-align: left;
    width: 400px;
    padding-left: 50px;
}
.head2 {
    padding-top: 150px;
    text-align: left;
    padding-left: 50px;
    width: 300px;
}
.section2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
    max-width: 1200px;
    margin: 0 auto;
}
.image5 {
    display: block;
    width: 50%;
    margin-left: 180px;
}
.image6 {
    display: block;
    width: 50%;
    margin-left: 160px;
}

.image7 {
    display: block;
    width: 50%;
    margin-left: 200px;
}

.image11 {
    display: block;
    width: 50%;
    margin-left: 250px;
    margin-top: 65px;
}

.image14 {
    display: block;
    width: 50%;
    margin-left: 700px;
    margin-top: 110px;
}

.image13 {
    display: block;
    width: 65%;
    margin-left: 165px;
    margin-top: 55px;
}

.image12 {
    display: block;
    width: 70%;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 00px;
    padding-top: 60px;
}

form {
    display: grid;
    width: 650px;
    margin-left: 800px;
    margin-top: -460px;
    margin-bottom: 250px;
    padding: 1rem;
    border: 3px solid #44BBA4;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    color: #44BBA4;
    height: 460px;
}
.question {
    background-color: var(--secondary-color);
    color:#44BBA4;
}

label {
    color:white;
}

.label {
    color:white;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    top: 1000px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: black;
}
.form1 {
    display: grid;
    width: 600px;
    margin-left: 10px;
    margin-top: -220px;
    margin-bottom: 50px;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 0.9rem;
    background-color: var(--secondary-color);
    color: white;
    height: 180px;
}
.float {
    position: absolute;
    float: right;
    right: 130px;
    bottom: -350px;
}
.image8 {
    float: right;
    margin-right: 320px;
    margin-top: 20px;
}
.paragraph {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
    color: black;
    margin-top: 100px;
    margin-bottom: -100px;
    box-shadow:  5px 10px #888888;
}
.paragraph6 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
    color: blue;
    margin-top: 60px;
    padding-bottom: 30px;
    margin-bottom: -60px;
}

.paragraph2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic; 
    margin-top: 15px;
    margin-bottom: 100px;
    padding-top: 10px;
    color: #0000ff;
}
.form2 {
    display: grid;
    width: 600px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 0.9rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 210px;
}
.image9 {
    margin-left: 0px;
    margin-bottom: 20px;
    padding-top: 50px;

}
.section4 {
    margin-top: 100px;
    color: black;
}
.border {
    padding: 1.2em;
    margin-right: -0.1em;
    margin-left: -0.1em;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 1rem;
    box-shadow:  5px 10px #888888;
}
.position {
    margin-right: 24px;
}
.head1 {
    background-color: white;
    color: black;
    margin-left: 60px;
}

.head6 {
    background-color: var(--primary-color);
    color: black;
    margin-left: 600px;
}

.border2 {
    padding: 1.2em;
    padding-bottom: 90px;
    margin-right: -0.3em;
    margin-left: -0.3em;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    margin-top: 110px;
    box-shadow:  5px 10px #888888;
}
.head3 {
    background-color: var(--primary-color);
    color: black;
    margin-right: 100px;
    margin-top: -55px;
}
.section5 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

table {
    border:1px solid black;
    margin-top: 20px;
    border-spacing: 20px;
    margin-left: 155px;
    color: black;
    text-align: left;
  }
  .head4 {
    position: relative;
    bottom: 300px;
    left: 800px;
    width: 600px;
  }
 
.head5 {
    margin-right: 35px;
    margin-top: -15px;
}
.head15 {
    margin-right: 35px;
    margin-top: -40px;
}
.head16 {
    margin-right: 35px;
    margin-top: 45px;
}
.image10 {
    margin-left: 930px;
    margin-top: -300px;
    margin-bottom: 100px;
}
.flex3 {
    flex: 1 1;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    font-weight: bold;
}

.flex4 {
    flex: 1 1;
    box-sizing: border-box;
    padding: 100px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    font-weight: bold;
}


.flex5 {
    flex: 1 1;
    box-sizing: border-box;
    padding: 100px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    font-weight: bold;
}

.flex6 {
    flex: 1 1;
    box-sizing: border-box;
    background-color: #ffffff;
    color: black;
    text-align: center;
    font-weight: bold;
}
.paragraph3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
    color: black;
    margin-top: 60px;
    margin-bottom: -60px;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow:  5px 10px #888888;
    padding: 10px;
}
.paragraph7 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
    color: black;
    margin-top: 30px;
    margin-bottom: -40px;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow:  5px 10px #888888;
    padding:100px;
    padding-top: 30px;
}