main {
   max-width: 100%;
}

aside {
  width: 91rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
  padding: 1rem;
  background-color: lightblue;
  color: #333; 
  text-align: center;
}

nav {
  background-color: aqua;
 }

nav a {
  color: blueviolet;
  }

h1 {
  color: blue;
  text-align: center;
  width: 100%;
  }

img {
  box-shadow: grey 7px 8px 7px 7px;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

main {
  text-align: center;
}

p { padding: 0; 
    line-height: 0.12;  
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

